<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vectorcoder.androidwoocommerce">

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE/"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".app.App"
        android:hardwareAccelerated ="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="androidx:allowBackup">


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_api_app_id"/>

        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/addmob_AppID"/>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_logo" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <activity
            android:name="com.vectorcoder.androidwoocommerce.activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MySplashScreen" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data android:scheme="vectorcder" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vectorcder.app.link" />
                <data android:scheme="https" android:host="vectorcder-alternate.app.link" />
            </intent-filter>

        </activity>


        <activity android:name="com.vectorcoder.androidwoocommerce.activities.IntroScreen" >
        </activity>


        <!--Geofencing Material-->

        <activity
            android:name="com.vectorcoder.androidwoocommerce.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <!-- Branch URI scheme -->
            <intent-filter>
                <data android:scheme="woocommerce" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vectorcder.app.link" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.vectorcoder.androidwoocommerce.activities.Login"
            android:label=".activities.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name="com.vectorcoder.androidwoocommerce.activities.Signup"
            android:label=".activities.Signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>


        <activity android:name="com.vectorcoder.androidwoocommerce.activities.TrackingActivity"
            android:label=".activities.TrackingActivity"
            android:screenOrientation="portrait" />

        <!-- Facebook Activity -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Braintree Activity -->

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.braintree" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>



        <!-- Scheduled Notifications -->

        <receiver android:name="com.vectorcoder.androidwoocommerce.receivers.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <category android:name="android.intent.category.APP_MARKET" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>


        <!-- Firebase Notifications -->

   <!--     <service android:name="com.vectorcoder.androidwoocommerce.services.MyFirebaseMessagingService"
                 android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                </intent-filter>

        </service>-->

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.UpdateLocation"
            android:stopWithTask="false"
            android:exported="true"
            android:enabled="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorTransparent" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_lpGnRI7gxexfX56cTWmpHnloqEoIAWim" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_meRgHNZpwptpW24lP6lYoiljAunVuYoB" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

        <!-- Branch install referrer tracking -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
